<head>
  <title>Cat photo</title>

  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <style type="text/css">

    body {
      padding: 20px;
      font-family: 'Poiret One', cursive;
      background-color: grey
    }

    h1 {
      margin-left: 20px;
      font-size: 100px;
    }

    h2 {
      margin-left: 50px;
      font-size: 50px;
    }

    #catpic {
      border: medium solid pink;
      border-radius: 2em;
    }

  </style>
</head>

<body>

  <h2>My name is <%= @name %></h2>

  <div>
    <img id="catpic" src= 'http://bit.ly/1eze8aE'>
  </div>

</body>
